@page "/food"

    <ul id="hexGrid">
      <li class="hex" data-aos="fade-up">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/food/1.jpg" />
            <h1>Food photo 1</h1>
            <p>Simple, affordable room that opens to a building with many amenities</p>
          </a>
        </div>
      </li>
      <li class="hex" data-aos="fade-down">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/food/2.jpg" />
            <h1>Food photo 2</h1> 
            <p>Simple, affordable room that opens to a building with many amenities</p>
          </a>
        </div>
      </li>
      <li class="hex" data-aos="fade-right">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/food/3.jpg" />
            <h1>Food photo 3</h1>
            <p>Simple, affordable room that opens to a building with many amenities</p>
          </a>
        </div>
      </li>
      <li class="hex" data-aos="fade-left">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/food/4.jpg" />
            <h1>Food photo 4</h1>
            <p>Simple, affordable room that opens to a building with many amenities</p>
          </a>
        </div>
      </li>
      <li class="hex" data-aos="flip-up">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/food/5.jpg" />
            <h1>Food photo 5</h1>
            <p>Simple, affordable room that opens to a building with many amenities</p>
          </a>
        </div>
      </li>
      <li class="hex" data-aos="flip-down">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/food/6.jpg" />
            <h1>Food photo 6</h1>
            <p>Simple, affordable room that opens to a building with many amenities</p>
          </a>
        </div>
      </li>
      <li class="hex" data-aos="fade-down">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/food/7.jpg" />
            <h1>Food photo 7</h1>
            <p>Simple, affordable room that opens to a building with many amenities</p>
          </a>
        </div>
      </li>
      <li class="hex" data-aos="flip-right">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/food/8.jpg" />
            <h1>Food photo 8</h1>
            <p>Simple, affordable room that opens to a building with many amenities</p>
          </a>
        </div>
      </li>
      
    </ul>
    <ul id="regularGrid">
      <li data-aos="fade-up">
          <img src="assets/img/food/1.jpg" />
          <h5>Food photo 1</h5>
      </li>
      <li data-aos="fade-down">
          <img src="assets/img/food/2.jpg" />
          <h5>Food photo 2</h5>
      </li>
      <li data-aos="fade-right">
          <img src="assets/img/food/3.jpg" />
          <h5>Food photo 3</h5>
      </li>
      <li data-aos="fade-left">
          <img src="assets/img/food/4.jpg" />
          <h5>Food photo 4</h5>
      </li>
      <li data-aos="flip-up">
          <img src="assets/img/food/5.jpg" />
          <h5>Food photo 5</h5>
      </li>
      <li data-aos="flip-down">
          <img src="assets/img/food/6.jpg" />
          <h5>Food photo 6</h5>
      </li>
      <li data-aos="flip-right">
          <img src="assets/img/food/7.jpg" />
          <h5>Food photo 7</h5>
      </li>
      <li data-aos="flip-left">
          <img src="assets/img/food/8.jpg" />
          <h5>Food photo 8</h5>
      </li>
    </ul>