@page "/home"

<div class="wrapper">
    <header>Mercy's New Site</header>
    <aside>Properties</aside>
    <main>
        <div class="content-area item featured">
            <div class="hex1">
                <img src="assets/img/octagon/1.jpg" class="clip">
            </div>
            <div class="hex2">
                <img src="assets/img/octagon/2.jpg" class="clip">
            </div>
            <div class="hex3">
                <img src="assets/img/octagon/3.jpg" class="clip">
            </div>
            <div class="hex4">
                <img src="assets/img/octagon/4.jpg" class="clip">
            </div>
            <div class="hex5">
                <img src="assets/img/octagon/5.jpg" class="clip">
            </div>
            <div class="hex6">
                <img src="assets/img/octagon/6.jpg" class="clip">
            </div>
            <div class="hex7">
                <img src="assets/img/octagon/7.jpg" class="clip">
            </div>
            <div class="hex8">
                <img src="assets/img/octagon/8.jpg" class="clip">
            </div>
        </div>
    </main>
    <footer>Footer</footer>
</div>