@page "/"
@inherits UjuziTek.Pages.FragmentNavigationBase
 @inject IJSRuntime JS;
 @inject Microsoft.AspNetCore.Components.NavigationManager nav;

	<!-- header -->

  <!-- hero-section -->
	<section class="hero-section gap" style="background-image: url(assets/img/background-1.png);">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6" data-aos="fade-up"  data-aos-delay="200" data-aos-duration="1000">
					<div class="restaurant">
						<h1 style="border: 1px solid white !important;">Affordable,</h1>
						<h1 class="comfy-rooms-style"><span>Comfy Rooms</span></h1> 
						<p>From Westlake, Nairobi Kenya to Stone Town Zanzibar, Tanzania check out our affordable offerings.</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="img-restaurant" data-aos="fade-left"  data-aos-delay="300" data-aos-duration="2000">
						<img alt="man" src="assets/img/skyline/skyline1.jpg">
						@* <div class="wilmington">
							<img alt="img" src="https://via.placeholder.com/90x90">
							<div>
								<p>Restaurant of the Month</p>
								<h6>The Wilmington</h6>
								<div>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-regular fa-star-half-stroke"></i>
								</div>
							</div>
						</div> *@
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- locations-section -->
	<section style="min-height: 95vh" class="works-section" id="locations">
		<div class="container">
			<div>
				<div class="properties-h2"><h2>Properties</h2></div>
				<div id="properties-intro">Let us lighten your load by providing transport from the airport, locale information and many other such services.  Let us lighten your load by providing transport from the airport, locale information and many other such services. </div>
			</div>
			<div class="row align-items-center">
				<div class="col-lg-4 col-md-6 col-sm-12" data-aos="flip-right" data-aos-delay="200" data-aos-duration="700">
					<a href="#kilimani"><div class="work-card"> 	
						<img alt="img" src="assets/img/kilimani/kilimani10.jpg">
						<h4><span>01</span>  Nairobi, Kilimani</h4>
						<p>For that traveler that needs the bear minimum at the most affordable price-point.</p>
					</div></a>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-in" data-aos-delay="500" data-aos-duration="2000">
					<a href="#skyline"><div class="work-card">
						<img alt="img" src="assets/img/skyline/skyline8.jpg">
						<h4><span>02</span>  Nairobi, Westlands</h4>
						<p>An elegant location with a variety of rooms and excellant amenities:  a chef, a rooftop pool, a lounge, a gym...</p>
					</div></a>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12" data-aos="flip-left" data-aos-delay="200" data-aos-duration="700">
					<a href="#sunset"><div class="work-card">
						<img alt="img" src="assets/img/sunset/sunset4.jpg">
						<h4><span>03</span>  Stone Town, Zanzibar</h4>
						<p>A rooftop view of Stone Town along with a lower balcony containing a private theater with a 10 foot by six foot screen.</p>
					</div></a>					
				</div>
			</div>
		</div>

	</section>
	@* Sunset section *@
	<section class="works-section" id="sunset">
		<div class="container">
			<div>
				<div style="margin-bottom: 20px" class="properties-h2"><h2>Sunset View Hurumzi</h2></div>
				<p>Let us lighten your load by providing transport from the airport, locale information and many other such services.</p>
			</div>
			<div class="row align-items-center pre-gallery">
				<Sunset></Sunset>
			</div>
		</div>
	</section>
	<section class="works-section" id="kilimani">
		<div class="container">
			<div>
				<div style="margin-bottom: 20px" class="properties-h2"><h2>Nairobi Kilimani</h2></div>
			
				<p style="">Let us lighten your load by providing transport from the airport, locale information and many other such services.  Let us lighten your load by providing transport from the airport, locale information and many other such services.  Let us lighten your load by providing transport from the airport, locale information and many other such services.</p>
			</div>
			<div class="row align-items-center pre-gallery">
				<Kilimani></Kilimani>
			</div>
		</div>
	</section>	
	<section class="works-section" id="skyline">
		<div class="container" style="padding: 4em;">
			<div>
				<div style="margin-bottom: 50px" class="properties-h2"><h2>Nairobi Westlands</h2></div>
				<p>Let us lighten your load by providing transport from the airport, locale information and many other such services.  Let us lighten your load by providing transport from the airport, locale information and many other such services.  Let us lighten your load by providing transport from the airport, locale information and many other such services.</p>
			</div>
			<div class="row align-items-center pre-gallery">
				<Skyline></Skyline>
			</div>
		</div>
	</section>	
	@code {
		string selectedLocation = "";
		class Location {
			public string LocationId;
			public string LocationName;
		}

		List<Location> locations = new() {
			new Location() {LocationId = "#skyline", LocationName="Nairobi, Westlands"},
			new Location() {LocationId = "#sunset", LocationName="Stone Town, Zanzibar"},
			new Location() {LocationId = "#kilimani", LocationName="Nairobi Studio House Kilimani"}
		};
		private async Task Alert(Microsoft.AspNetCore.Components.ChangeEventArgs e)
		{
			nav.NavigateTo("/");
			await JS.InvokeVoidAsync("console.log", e.Value.ToString());
			selectedLocation = e.Value.ToString();
			nav.NavigateTo(selectedLocation);
			
		}
	}