@page "/"
@inject IJSRuntime JSRuntime
@using Microsoft.JSInterop
@inherits UjuziTek.Pages.FragmentNavigationBase
@inject Microsoft.AspNetCore.Components.NavigationManager nav;

	<!-- header -->

  <!-- hero-section -->
	<section class="hero-section gap" style="background-image: url(assets/img/background-1.png);">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
					<div class="restaurant">
						<h1 id="affordable" style="border: 1px solid white !important;">Affordable, Comfy Rooms</h1>
						<p>From Westlake, Nairobi Kenya to Stone Town Zanzibar, Tanzania check out our affordable offerings.</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="img-restaurant" data-aos="fade-left"  data-aos-delay="300" data-aos-duration="2000">
						<img alt="man" src="assets/img/skyline/skyline1.jpg">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- locations-section -->
	<section style="min-height: 95vh" class="works-section" id="locations">
		<div class="container" id="properties-columns">
			<div>
				<div class="properties-h2" id="properties-header"><h2>Properties</h2></div>
				<div id="properties-intro">Let us make your travels memorable by providing a lovely home away from home. </div>
			</div>
			<div id="properties-img" class="row align-items-center">
				<div class="col-lg-4 col-md-6 col-sm-12" data-aos="flip-right" data-aos-delay="200" data-aos-duration="700">
					<a href="#kilimani"><div class="work-card"> 	
						<img alt="img" src="assets/img/kilimani/kilimani10.jpg">
						<h4><span>01</span>  Private Condo, Nairobi Kilimani</h4>
						<p>Spacious Condo with a separate bedroom with a garden and a gym close to hospitals, malls and a bus station.</p>
					</div></a>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-in" data-aos-delay="500" data-aos-duration="2000">
					<a href="#skyline"><div class="work-card">
						<img alt="img" src="assets/img/skyline/skyline8.jpg">
						<h4><span>02</span>  Private Rooms, Nairobi Kilimani</h4>
						<p>An elegant location with a variety of rooms and excellant amenities:  a rooftop pool, sauna, steam bath, restaurant and gym...</p>
					</div></a>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12" data-aos="flip-left" data-aos-delay="200" data-aos-duration="700">
					<a href="#sunset"><div class="work-card">
						<img alt="img" src="assets/img/sunset/sunset4.jpg">
						<h4><span>03</span>  Private Rooms, Stone Town, Zanzibar</h4>
						<p>A rooftop view of Stone Town along with a private theater with a 10ft by 6ft screen. Five minutes away from famous forodhani beach / park.</p>
					</div></a>					
				</div>
			</div>
		</div>

	</section>
	@* Sunset section *@
	<section class="works-section" id="sunset" style="padding: 4em;">
		<div class="container">
			<div style="position: relative; right: 4em; margin-bottom: 20px; horizontal-align: center" class="properties-h2">
				<div style="position: relative; left: 2%; margin-bottom: 20px; horizontal-align: center" class="properties-h2"><h2>Sunset View Hurumzi</h2></div>
				<p style="text-align: center">Let us pick you up from the airport.</p>
			</div>
			<div class="row align-items-center pre-gallery" style="display: flex; justify-content: center;">
				<Sunset></Sunset>
			</div>
		</div>
	</section>
	<section class="works-section" id="kilimani" style="padding: 4em;">
		<div class="container" id="properties-container">
			<div style="position: relative; right: 4em; margin-bottom: 20px; horizontal-align: center" class="properties-h2">
				<div style="position: relative; left: 2%; margin-bottom: 20px; horizontal-align: center" class="properties-h2"><h2>Private Condo Nairobi</h2></div>
				<p style="text-align: center">Free parking and fitness center.</p>
			</div>
			<div class="row align-items-center pre-gallery" style="display: flex; justify-content: center;">
				<Kilimani></Kilimani>
			</div>
		</div>
	</section>
	<section class="works-section" id="skyline" style="padding: 4em;">
		<div class="container">
			<div style="position: relative; right: 4em; margin-bottom: 20px; horizontal-align: center" class="properties-h2">
				<div style="position: relative; left: 2%; margin-bottom: 20px; horizontal-align: center" class="properties-h2"><h2>Private Rooms, Nairobi</h2></div>
				<p style="text-align: center">Fitness center, rooftop pool and restaurant.</p>
			</div>
			<div class="row align-items-center pre-gallery" style="display: flex; justify-content: center;">
				<Skyline></Skyline>
			</div>
		</div>
	</section>	