@page "/kilimani"
@inherits UjuziTek.Pages.FragmentNavigationBase
@inject IJSRuntime JS
@implements IDisposable
@using Syncfusion.Blazor.Schedule

    <ul id="hexGrid">
      <li class="hex" data-aos="fade-up">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/kilimani/kilimani10.jpg" />
          </a>
        </div>
      </li>
      <li class="hex" data-aos="fade-down">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/kilimani/kilimani2.jpg" />
          </a>
        </div>
      </li>
      <li class="hex" data-aos="fade-right">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/kilimani/kilimani3.jpg" />
          </a>
        </div>
      </li>
      <li class="hex" data-aos="fade-left">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/kilimani/kilimani4.jpg" />
          </a>
        </div>
      </li>
      <li class="hex" data-aos="flip-up">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/kilimani/kilimani5.jpg" />
          </a>
        </div>
      </li>
      <li class="hex" data-aos="flip-down">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/kilimani/kilimani6.jpg" />
          </a>
        </div>
      </li>
      <li class="hex" data-aos="flip-right">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/kilimani/kilimani7.jpg" />
          </a>
        </div>
      </li>
      <li class="hex" data-aos="flip-left">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/kilimani/kilimani8.jpg" />
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/kilimani/kilimani9.jpg" />
          </a>
        </div>
      </li>
    </ul>
    <ul id="regularGrid">
      <li data-aos="fade-up">
          <img src="assets/img/kilimani/kilimani10.jpg" />
      </li>
      <li data-aos="fade-down">
          <img src="assets/img/kilimani/kilimani2.jpg" />
      </li>
      <li data-aos="fade-right">
          <img src="assets/img/kilimani/kilimani3.jpg" />
      </li>
      <li data-aos="fade-left">
          <img src="assets/img/kilimani/kilimani4.jpg" />
      </li>
      <li data-aos="flip-up">
          <img src="assets/img/kilimani/kilimani5.jpg" />
      </li>
      <li data-aos="flip-down">
          <img src="assets/img/kilimani/kilimani6.jpg" />
      </li>
      <li data-aos="flip-right">
          <img src="assets/img/kilimani/kilimani7.jpg" />
      </li>
      <li data-aos="flip-left">
          <img src="assets/img/kilimani/kilimani8.jpg" />
      </li>
      <li data-aos="fade-in">
          <img src="assets/img/kilimani/kilimani9.jpg" />
      </li>
    </ul>