@page "/skyline"

<div class="apartment-container">
    <div class="hexagonArea first">
        <img src="assets/img/octagon/1.jpg">
    </div>
    <div class="hexagonArea">
        <img src="assets/img/octagon/2.jpg">
    </div>
    <div class="hexagonArea">
        <img src="assets/img/octagon/3.jpg">
    </div>
    <div class="hexagonArea">
        <img src="assets/img/octagon/4.jpg">
    </div>
    <div class="hexagonArea">
        <img src="assets/img/octagon/5.jpg">
    </div>
    <div class="hexagonArea last">
        <img src="assets/img/octagon/6.jpg">
    </div>
</div>