@page "/sunset"
    <ul id="hexGrid">
      <li class="hex" data-aos="fade-up">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/sunset/sunset4.jpg" />
          </a>
        </div>
      </li>
      <li class="hex" data-aos="fade-down">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/sunset/sunset2.jpg" />
          </a>
        </div>
      </li>
      <li class="hex" data-aos="fade-right">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/sunset/sunset3.jpg" />
          </a>
        </div>
      </li>
      <li class="hex" data-aos="fade-left">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/sunset/sunset1.jpg" />
          </a>
        </div>
      </li>
      <li class="hex" data-aos="flip-up">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/sunset/sunset5.jpg" />
          </a>
        </div>
      </li>
      <li class="hex" data-aos="flip-down">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/sunset/sunset6.jpg" />
          </a>
        </div>
      </li>
      <li class="hex" data-aos="fade-down">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/sunset/sunset7.jpg" />
          </a>
        </div>
      </li>
      <li class="hex" data-aos="flip-right">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/sunset/sunset8.jpg" />
          </a>
        </div>
      </li>
      <li class="hex" data-aos="flip-left">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/sunset/sunset9.jpg" />
          </a>
        </div>
      </li>
      
    </ul>
    <ul id="regularGrid">
      <li data-aos="fade-up">
          <img src="assets/img/sunset/sunset4.jpg" />
      </li>
      <li data-aos="fade-down">
          <img src="assets/img/sunset/sunset2.jpg" />
      </li>
      <li data-aos="fade-right">
          <img src="assets/img/sunset/sunset3.jpg" />
      </li>
      <li data-aos="fade-left">
          <img src="assets/img/sunset/sunset1.jpg" />
      </li>
      <li data-aos="flip-up">
          <img src="assets/img/sunset/sunset5.jpg" />
      </li>
      <li data-aos="flip-down">
          <img src="assets/img/sunset/sunset6.jpg" />
      </li>
      <li data-aos="flip-right">
          <img src="assets/img/sunset/sunset7.jpg" />
      </li>
      <li data-aos="flip-left">
          <img src="assets/img/sunset/sunset8.jpg" />
      </li>
      <li data-aos="fade-in">
          <img src="assets/img/sunset/sunset9.jpg" />
      </li>
    </ul>