@page "/sunset"
    @* <ul id="hexGrid">
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="assets/img/sunset/sunset4.jpg" alt="" />
          <h1>Sunset 1</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="assets/img/sunset/sunset2.jpg" alt="" />
          <h1>Room 2</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="assets/img/sunset/sunset3.jpg" alt="" />
          <h1>Room 3</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="assets/img/sunset/sunset1.jpg" alt="" />
          <h1>Room 4</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="assets/img/sunset/sunset5.jpg" alt="" />
          <h1>Room 5</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="assets/img/sunset/sunset6.jpg" alt="" />
          <h1>Room 6</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="assets/img/sunset/sunset7.jpg" alt="" />
          <h1>Room 7</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="assets/img/sunset/sunset8.jpg" alt="" />
          <h1>Room 8</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="assets/img/sunset/sunset9.jpg" alt="" />
          <h1>Room 8</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
  </ul>
  
  <ul id="regularGrid">
      <li>
          <img src="assets/img/sunset/sunset4.jpg" />
          <h5>Stone Town apt photo 1</h5>
      </li>
      <li>
          <img src="assets/img/sunset/sunset2.jpg" />
          <h5>Stone Town apt photo 2</h5>
      </li>
      <li>
          <img src="assets/img/sunset/sunset3.jpg" />
          <h5>Stone Town apt photo 3</h5>
      </li>
      <li>
          <img src="assets/img/sunset/sunset1.jpg" />
          <h5>Stone Town apt photo 4</h5>
      </li>
      <li>
          <img src="assets/img/sunset/sunset5.jpg" />
          <h5>Stone Town apt photo 5</h5>
      </li>
      <li>
          <img src="assets/img/sunset/sunset6.jpg" />
          <h5>Stone Town apt photo 6</h5>
      </li>
      <li>
          <img src="assets/img/sunset/sunset7.jpg" />
          <h5>Stone Town apt photo 7</h5>
      </li>
      <li>
          <img src="assets/img/sunset/sunset8.jpg" />
          <h5>Stone Town apt photo 8</h5>
      </li>
      <li>
          <img src="assets/img/sunset/sunset9.jpg" />
          <h5>Stone Town apt photo 10</h5>
      </li>
    </ul> *@

        <ul id="hexGrid">
      <li class="hex" data-aos="fade-up">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/sunset/sunset4.jpg" />
            <h1>Stone Town apt photo 1</h1>
            <p>Simple, affordable room that opens to a building with many amenities</p>
          </a>
        </div>
      </li>
      <li class="hex" data-aos="fade-down">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/sunset/sunset2.jpg" />
            <h1>Stone Town apt photo 2</h1> 
            <p>Simple, affordable room that opens to a building with many amenities</p>
          </a>
        </div>
      </li>
      <li class="hex" data-aos="fade-right">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/sunset/sunset3.jpg" />
            <h1>Stone Town apt photo 3</h1>
            <p>Simple, affordable room that opens to a building with many amenities</p>
          </a>
        </div>
      </li>
      <li class="hex" data-aos="fade-left">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/sunset/sunset1.jpg" />
            <h1>Stone Town apt photo 4</h1>
            <p>Simple, affordable room that opens to a building with many amenities</p>
          </a>
        </div>
      </li>
      <li class="hex" data-aos="flip-up">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/sunset/sunset5.jpg" />
            <h1>Stone Town apt photo 5</h1>
            <p>Simple, affordable room that opens to a building with many amenities</p>
          </a>
        </div>
      </li>
      <li class="hex" data-aos="flip-down">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/sunset/sunset6.jpg" />
            <h1>Stone Town apt photo 6</h1>
            <p>Simple, affordable room that opens to a building with many amenities</p>
          </a>
        </div>
      </li>
      <li class="hex" data-aos="fade-down">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/sunset/sunset7.jpg" />
            <h1>Stone Town apt photo 7</h1>
            <p>Simple, affordable room that opens to a building with many amenities</p>
          </a>
        </div>
      </li>
      <li class="hex" data-aos="flip-right">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/sunset/sunset8.jpg" />
            <h1>Stone Town apt photo 8</h1>
            <p>Simple, affordable room that opens to a building with many amenities</p>
          </a>
        </div>
      </li>
      <li class="hex" data-aos="flip-left">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="assets/img/sunset/sunset9.jpg" />
            <h1>Stone Town apt photo 8</h1>
            <p>Simple, affordable room that opens to a building with many amenities</p>
          </a>
        </div>
      </li>
      
    </ul>
    <ul id="regularGrid">
      <li data-aos="fade-up">
          <img src="assets/img/sunset/sunset4.jpg" />
          <h5>Stone Town apt photo 1</h5>
      </li>
      <li data-aos="fade-down">
          <img src="assets/img/sunset/sunset2.jpg" />
          <h5>Stone Town apt photo 2</h5>
      </li>
      <li data-aos="fade-right">
          <img src="assets/img/sunset/sunset3.jpg" />
          <h5>Stone Town apt photo 3</h5>
      </li>
      <li data-aos="fade-left">
          <img src="assets/img/sunset/sunset1.jpg" />
          <h5>Stone Town apt photo 4</h5>
      </li>
      <li data-aos="flip-up">
          <img src="assets/img/sunset/sunset5.jpg" />
          <h5>Stone Town apt photo 5</h5>
      </li>
      <li data-aos="flip-down">
          <img src="assets/img/sunset/sunset6.jpg" />
          <h5>Stone Town apt photo 6</h5>
      </li>
      <li data-aos="flip-right">
          <img src="assets/img/sunset/sunset7.jpg" />
          <h5>Stone Town apt photo 7</h5>
      </li>
      <li data-aos="flip-left">
          <img src="assets/img/sunset/sunset8.jpg" />
          <h5>Stone Town apt photo 8</h5>
      </li>
      <li data-aos="fade-in">
          <img src="assets/img/sunset/sunset9.jpg" />
          <h5>Stone Town apt photo 10</h5>
      </li>
    </ul>