@page "/sunset"
<div class="section-container">
	<div style="margin-bottom: 20px" class="properties-h2"><h2>Sunset View Hurumzi</h2></div>
				<p>Let us lighten your load by providing transport from the airport, locale information and many other such services.</p>
			</div>
			<div class="row align-items-center pre-gallery">
    <ul id="hexGrid">
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="assets/img/sunset/sunset4.jpg" alt="" />
          <h1>Sunset 1</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="assets/img/sunset/sunset2.jpg" alt="" />
          <h1>Room 2</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="assets/img/sunset/sunset3.jpg" alt="" />
          <h1>Room 3</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="assets/img/sunset/sunset1.jpg" alt="" />
          <h1>Room 4</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="assets/img/sunset/sunset5.jpg" alt="" />
          <h1>Room 5</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="assets/img/sunset/sunset6.jpg" alt="" />
          <h1>Room 6</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="assets/img/sunset/sunset7.jpg" alt="" />
          <h1>Room 7</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="assets/img/sunset/sunset8.jpg" alt="" />
          <h1>Room 8</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="assets/img/sunset/sunset9.jpg" alt="" />
          <h1>Room 8</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
  </ul>
  </div>