@page "/sunset"
    <ul id="hexGrid">
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="assets/img/skyline/skyline1.jpg" alt="" />
          <h1>Sunset 1</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="assets/img/skyline/skyline2.jpg" alt="" />
          <h1>Room 2</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="assets/img/skyline/skyline3.jpg" alt="" />
          <h1>Room 3</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="assets/img/skyline/skyline4.jpg" alt="" />
          <h1>Room 4</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="assets/img/skyline/skyline5.jpg" alt="" />
          <h1>Room 5</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="assets/img/skyline/skyline6.jpg" alt="" />
          <h1>Room 6</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="assets/img/skyline/skyline7.jpg" alt="" />
          <h1>Room 7</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="assets/img/skyline/skyline8.jpg" alt="" />
          <h1>Room 8</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
  </ul>