<!-- footer -->
	<footer class="gap no-bottom" style="background-color: #363636;">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-6 col-sm-12">
					<div class="footer-description">
						<a href="/">
							<svg xmlns="http://www.w3.org/2000/svg" width="163" height="38" viewBox="0 0 163 38"></svg>
						</a>
						<h2>The Best Value For Each Location </h2>
						<p>As a proud Kenyan, hospitality is my passion. My price points are competitive. If you have any questions see the contact us section for more information.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12">
					<div class="menu">
						<h4>Menu</h4>
						<ul class="footer-menu">
							<li><a href="#header">home<i class="fa-solid fa-arrow-right"></i></a></li>
							<li><a href="#locations">Locations<i class="fa-solid fa-arrow-right"></i></a></li>
							<li><a href="#header">Image Gallery<i class="fa-solid fa-arrow-right"></i></a></li>
							<li><a href="#contact-us">Contacts<i class="fa-solid fa-arrow-right"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="menu contacts">
						<h4>Contacts</h4>
						<div class="footer-location">
							<i class="fa-solid fa-location-dot"></i>
							<p>Sunset Homes Hurumzi Street Stone Town, Zanzibar</p>
						</div>
						<a href="mailto:mercytuem22@gmail.com"><i class="fa-solid fa-envelope"></i>Contact Us</a>
						<a href="callto:+254742668465"><i class="fa-solid fa-phone"></i>+255 742 668465</a>
					</div>
					<ul class="social-media">
							<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
							<li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
						</ul>
				</div>
			</div>
			<div id="footer" class="footer-two gap no-bottom">
				<p>Copyright © 2023 Sunset Homes Properties. All rights reserved.</p>
				<div class="privacy">
					<a href="#">Privacy Policy</a>
					<a href="#">Terms & Services</a>
				</div>
			</div>
		</div>
	</footer>
