<SfAppBar id="header" CssClass="e-inherit ralign" IconCss="e-icons e-menu">
<div class="header-style">
<a href="/">
	<svg xmlns="http://www.w3.org/2000/svg" width="300" style="position: relative; right: 2.5em;" height="38" viewBox="0 0 163 38">
		<g id="Logo" style="width:800px;" transform="translate(-340 -51)">

			<text transform="translate(320 87)" fill="#363636" font-size="20" font-family="Poppins" font-weight="700"><tspan x="0" y="0">SUNSET</tspan><tspan y="0" fill="#f29f05">HOMES</tspan></text>
		</g>
	</svg>

</a>
<div class="extras bag">
	<div class="bar-menu">
	<i class="fa-solid fa-bars"></i>
	</div>
</div>
</div>
</SfAppBar>