<header id="header">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-2">
					<div class="header-style">
						<a href="/">
							<svg xmlns="http://www.w3.org/2000/svg" width="300" style="position: relative; right: 2.5em;" height="38" viewBox="0 0 163 38">
                                <g id="Logo" style="width:800px;" transform="translate(-340 -51)">

                                    <text transform="translate(320 87)" fill="#363636" font-size="20" font-family="Poppins" font-weight="700"><tspan x="0" y="0">SUNSET</tspan><tspan y="0" fill="#f29f05">HOMES</tspan></text>
                                </g>
                            </svg>

						</a>
						<div class="extras bag">
						<div class="bar-menu" @onclick="ToggleNavMenu">
		                   	<i class="fa-solid fa-bars"></i>
		                   </div>
						</div>
					</div>
				</div>
				<div class="col-lg-7">
					<nav class="navbar">
				      <ul class="navbar-links">
				        <li class="navbar-dropdown active">
				          <a href="/">Home</a>
				        </li>
				        <li class="navbar-dropdown">
				          <a href="#locations">Overview</a>
				        </li>

				        <li class="navbar-dropdown">
				          <a href="#locations">Locations</a>
				          <div class="dropdown">
				            <a href="#Private Rooms, Nairobi Kilimani">Private Rooms Nairobi</a>
				            <a href="#kilimani">Condo Nairobi</a>
				            <a href="#sunset">Private Rooms Zanzibar</a>
				          </div>						  
				        </li>
				        <li class="navbar-dropdown">
				          <a href="mailto:sunsetview587@gmail.com">Reserve a room</a>
				        </li>
				      </ul>
				    </nav>
				</div>
				<div id="login-container" class="col-lg-3">
					@* <a href="#">Login</a> *@
				</div>

         	 <div class="mobile-nav hmburger-menu" id="mobile-nav" style="display:block;">


            <div class="res-log">
            	<a href="/">
              		<svg xmlns="http://www.w3.org/2000/svg" width="163" height="38" viewBox="0 0 163 38">
					<text id="SunsetHomes" transform="translate(320 77)" fill="#363636" font-size="20" font-family="Poppins" font-weight="700"><tspan x="0" y="0">SUNSET</tspan><tspan y="0" fill="#f29f05">HOMES</tspan></text>

					</svg>
            	</a>
          	</div>
          <a href="JavaScript:void(0)" id="res-cross"></a>
      </div>
		</div>
	   </div>
  </header>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#kilimani">
                <span class="oi oi-plus" aria-hidden="true"></span> Condo, Nairobi Kilimani
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#Private Rooms, Nairobi Kilimani">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Private Rooms, Nairobi Kilimani
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#sunset">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Private Rooms, Stone Town, Zanzibar
            </NavLink>
        </div>
    </nav>
</div>
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
