@inherits LayoutComponentBase
@inject IJSRuntime JS;
@inject NavigationManager NavigationManager;
<Header />
@Body
<Footer />
<a href="/#header" class="float_but">
   <i class='fas fa-arrow-up'></i>
</a>